body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.top-bar {
    background-color: #003366;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.utility-links a {
    color: yellow;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
}

.main-header {
    background-color: #002147;
    padding: 10px 20px;
    display: flesx;

}

.header-container {
    background-color: #002147;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    max-height: 50px;
    text-align: right;
}

.nav {
    box-sizing: border-box;
    margin: 0 10px;
}

.main-nav {
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: var(--article-border);
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin: 0 10px;
}

.main-nav a {
    color: white;
    text-decoration: none;
}

.headline_section {
    display: inline-block;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.weather-column {
    padding-top: 0%;
    flex: 1;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

.weather-info h1 {
    font-size: 48px;
    margin: 10px 0;
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.forecast div {
    text-align: center;
}

.forecast-link {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.news-column {
    flex: 3;
    padding-left: 10px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
}

.news-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: table;
    /* flex: 3; */
    padding-top: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.news-grid_1 {
    max-width: 1200px;
    margin: 0 auto;
    display: table;
    /* flex: 3; */
    padding-top: 10px;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 10px;
    flex: 2.5;
}

.news-item {
    border: 1px solid #ddd;
    padding: 10px;
}

.news-item.large {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 10px;
    /* grid-column: span 2; */
    flex: 2;
}

.news-item.large_1 {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 10px;
    /* grid-column: span 2; */
    flex: 2;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-item h3 {
    color: red;
    margin: 5px 0;
}

.news-item h2 {
    margin: 5px 0;
    font-size: 18px;
}

.news-item p {
    font-size: 14px;
    color: #555;
}

.row {
    /* flex: 1; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}